h2.product-sheet__name {
    padding: .5rem 1rem;
    text-align: center;
    background-color: $brand-first;
    border-bottom: $classic-border;
}

#product-sheet {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    #product-frame {
        width: 60%;
        overflow: hidden;
        box-sizing: border-box;
        padding: 3rem;
        margin-right: auto;
        &__image {
            width: 100%;
            height: 100%;
        }
    }
    #product-info {
        position: absolute;
        right: 3rem;
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
        row-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        width: 300px;
        height: auto;
        max-height: 250px;
        padding: 20px 3rem;
        border-radius: 10px;
        background-color: $lightShadow;
        @include product-info__shadow($brand-first);
        &__description {
            grid-area: 1/1/2/5;
            text-align: justify;
        }
        &__choice {
            grid-area: 2/1/3/5;
            text-align: center;
        }
        &__price {
            grid-area: 3/1/4/2;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        >button {
            grid-area: 3/2/4/5;
            width: 160px;
            margin-left: 65px;
        }
    }

}