#cart-table { 
    @include margin-side-auto;
    min-width: 50%;
    max-width: 100%;
    .cart-table__part{
        border-left: 1px solid black;
        border-right: 1px solid black;
        min-width: 100%;
        display: contents;
        tr {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            display: grid;
            grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr .5fr;
            grid-template-rows: auto;
            th {
                text-align: center;
            }
            th, td {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: auto;
                border: none;
                padding: .5rem 1rem;
            }
        }
    }     
}

#cart-table__head tr {
    background-color: $brand-second;
}

.table__product--quantity {
    display: flex;
    flex-direction: column;
}

#cart__total--title {
    text-align: center;
    background-color: $brand-first;
}

.table__product {
    padding: .5rem 0;
    grid-column: 1/7;
    &--image {
        grid-column: 1/2;
    }
    &--name {
        grid-column: 2/3;
    }
    &--option {
        grid-column: 3/4;
    }
    &--price {
        grid-column: 4/5;
        text-align: end;
    }
    &--quantity {
        grid-column: 5/6;
        text-align: center;
        > span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }
    }
    &--total-price {
        grid-column: 6/7;
        text-align: end;
    }
}

#cart__total {
    &--title {
        grid-column: 1/5;
    }
    &--quantity {
        grid-column: 5/6;
        text-align: center;
    }
    &--price {
        grid-column: 6/7;
        text-align: end;
    }
}