@import "./pages/index";
@import "./pages/product";
@import "./pages/cart";
@import "./pages/confirmation";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/keyframes";
@import "./components/buttons";
@import "./components/cart-grid";
@import "./components/select";
@import "./components/form";
@import "./layouts/header";
@import "./layouts/nav";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body {
    height: 100vh;
    @include gradient($angle: 340deg); /*background*/
    background-attachment: fixed;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    header, section, footer {
        background-color: white;
    }
}

main {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    // background-color: $section;
    // height: calc(100vh - $nav-height - $footer-height);
    box-sizing: border-box;
   section {
        max-width: 900px;
        // margin: 20px;
        @include margin-side-auto;
        padding: 20px 60px;
        h2 {
            // margin: .5rem 2rem 2rem 2rem;
            margin-top: .5rem;
            margin-bottom: 2rem;
            @include margin-side-auto;
            padding-top: .5rem;
            padding-bottom: .5rem;
            font-style: italic;
            box-sizing: border-box;
            width: auto;
            color: white;
            text-align: center;
            @include gradient($angle: 325deg);
            border-radius: 10px;
            // @include product-info__shadow(white);
        }
    }
}

footer {
    width: 100vw;
    min-height: 50px;
    // position: fixed;
    // bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    ul {
        display: flex;
        li {
            padding: .5rem;
        }
    }
}