@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
#product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
}
#product-list .product-container:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1;
}
#product-list .product-container:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1;
}
#product-list .product-container:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1;
}
#product-list .product-container:nth-child(4) {
  grid-column: 1/2;
  grid-row: 2;
}
#product-list .product-container:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2;
}
#product-list .product-container {
  box-sizing: content-box;
  padding: 6px;
  margin: 6px;
}

.product-card {
  position: relative;
  border: 2px solid #f3e9f1;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 hsl(325deg, 31%, 56%);
  transition: all 0.2s;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.product-card:hover {
  transform: scale(1.1);
}
.product-card .product-frame {
  box-sizing: border-box;
  overflow: hidden;
  max-height: 220px;
}
.product-card .product-frame__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-card .product-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #f3e9f1;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
}

#product-sheet > div {
  display: flex;
  flex-flow: raw wrap;
  border-radius: 10px;
  align-items: center;
}

#product-frame {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  box-shadow: 0 5px 10px 0 hsl(325deg, 31%, 56%);
  z-index: 1000;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 20px;
  transition: all 500ms ease-out;
}
#product-frame__name {
  display: none;
}
#product-frame__image {
  width: 100%;
}
#product-frame:hover {
  transform: scale(1.3) translateX(calc(25% + 20px));
}
#product-frame:hover > #product-frame__name {
  display: block;
  width: calc(100% - 1rem);
  padding-top: 1rem;
  padding-left: 1rem;
  position: absolute;
  top: 0;
  color: white;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
}
#product-frame:hover + #product-info {
  opacity: 0;
}

#product-frame:hover body {
  filter: blur(2px);
  background-color: black;
}

#product-info {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  row-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  border: 2px solid black;
  width: 50%;
  height: 100%;
  padding: 1rem 20px;
  transition: opacity 200ms ease-out;
}
#product-info__name {
  grid-area: 1/1/2/5;
  padding: 0.5rem 1rem;
  text-align: center;
  border-bottom: 2px solid black;
}
#product-info__description {
  grid-area: 2/1/3/5;
  text-align: justify;
  border-bottom: 2px solid black;
}
#product-info__choice {
  grid-area: 3/1/4/5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid black;
}
#product-info__price {
  grid-area: 4/1/5/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product-info__button {
  grid-area: 4/3/5/5;
  margin-left: auto;
  margin-right: auto;
}

#cart-empty {
  border: 2px solid black;
  background-color: rgb(243, 233, 241);
  padding: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

#confirm-order__section {
  display: flex;
  justify-content: center;
}
#confirm-order__section p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

@-webkit-keyframes fill-hover-button {
  0% {
    background: linear-gradient(90deg, hsl(325deg, 31%, 56%) 0%, white 0%, white 100%);
  }
  10% {
    background: linear-gradient(90deg, hsl(325deg, 31%, 56%) 0%, white 25%, white 100%);
  }
  20% {
    background: linear-gradient(90deg, hsl(325deg, 31%, 56%) 0%, white 50%, white 100%);
  }
  30% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 25%, white 75%, white 100%);
  }
  40% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 50%, white 100%);
  }
  50% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 75%, hsl(325deg, 31%, 56%) 100%);
  }
  60% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgb(238, 121, 4) 0%, hsl(27deg, 64%, 54%) 20% hsl(325deg, 31%, 56%) 100%);
  }
  100% {
    background: linear-gradient(90deg, rgb(238, 121, 4) 0%, hsl(27deg, 64%, 54%) 20%, hsl(325deg, 31%, 56%) 100%);
  }
}

@keyframes fill-hover-button {
  0% {
    background: linear-gradient(90deg, hsl(325deg, 31%, 56%) 0%, white 0%, white 100%);
  }
  10% {
    background: linear-gradient(90deg, hsl(325deg, 31%, 56%) 0%, white 25%, white 100%);
  }
  20% {
    background: linear-gradient(90deg, hsl(325deg, 31%, 56%) 0%, white 50%, white 100%);
  }
  30% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 25%, white 75%, white 100%);
  }
  40% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 50%, white 100%);
  }
  50% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 75%, hsl(325deg, 31%, 56%) 100%);
  }
  60% {
    background: linear-gradient(90deg, hsl(27deg, 64%, 54%) 0%, hsl(325deg, 31%, 56%) 100%);
  }
  70% {
    background: linear-gradient(90deg, rgb(238, 121, 4) 0%, hsl(27deg, 64%, 54%) 20% hsl(325deg, 31%, 56%) 100%);
  }
  100% {
    background: linear-gradient(90deg, rgb(238, 121, 4) 0%, hsl(27deg, 64%, 54%) 20%, hsl(325deg, 31%, 56%) 100%);
  }
}
.button {
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  background-color: rgb(243, 233, 241);
  box-shadow: 0 0 10px 2px grey;
}
.button:hover {
  color: white;
  background: linear-gradient(90deg, rgb(238, 121, 4) 0%, hsl(27deg, 64%, 54%) 20%, hsl(325deg, 31%, 56%) 100%);
  -webkit-animation: fill-hover-button 300ms ease-out;
          animation: fill-hover-button 300ms ease-out;
}

.product-button {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  height: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.product-button:hover {
  color: rgb(238, 121, 4);
}

#clear__cart-button:hover {
  color: #800080;
}

#confirm-order {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#cart-table {
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  max-width: 100%;
}
#cart-table .cart-table__part {
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-width: 100%;
  display: contents;
}
#cart-table .cart-table__part tr {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1.5fr 1fr 1.5fr 0.5fr;
  grid-template-rows: auto;
}
#cart-table .cart-table__part tr th {
  text-align: center;
}
#cart-table .cart-table__part tr th, #cart-table .cart-table__part tr td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  border: none;
  padding: 0.5rem;
}

#cart-table__head tr {
  background-color: hsl(325deg, 31%, 56%);
  color: white;
}
#cart-table__body tr {
  background-color: white;
}

#table-head__product--name {
  grid-column: 1/3;
}
#table-head__product--option {
  grid-column: 3/4;
}
#table-head__product--price {
  grid-column: 4/5;
}
#table-head__product--quantity {
  grid-column: 5/6;
}
#table-head__product--total-price {
  grid-column: 6/7;
}

.table__product {
  grid-column: 1/7;
}
.table__product--frame {
  padding: 0;
  grid-column: 1/2;
}
.table__product--frame > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.table__product--name {
  grid-column: 2/3;
}
.table__product--option {
  grid-column: 3/4;
}
.table__product--price {
  grid-column: 4/5;
  text-align: end;
}
.table__product--quantity {
  grid-column: 5/6;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.table__product--quantity > .change-quantity {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.table__product--total-price {
  grid-column: 6/7;
  text-align: end;
}

#cart__total {
  text-align: center;
  background-color: hsl(27deg, 64%, 54%);
  color: white;
}
#cart__total--title {
  grid-column: 1/5;
}
#cart__total--quantity {
  grid-column: 5/6;
  text-align: center;
}
#cart__total--price {
  grid-column: 6/7;
  text-align: end;
}

select {
  cursor: pointer;
}

form#user-information {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1.5fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
form#user-information label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}
form#user-information input {
  display: flex;
  align-self: center;
  height: 30px;
  line-height: 1;
}

#form-section {
  position: relative;
  padding-bottom: 6rem;
}
#form-section #confirm-order {
  position: absolute;
  width: 250px;
  bottom: 2rem;
  left: calc(50% - 125px);
}

header {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  background-color: rgb(243, 233, 241);
}

.nav {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.nav__icon {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: auto;
}
.nav__icon img {
  height: 45px;
}
.nav-menu__hamburger {
  display: none;
}
.nav-menu__links {
  display: flex;
  align-items: center;
  margin: 0 10px;
  margin-left: auto;
  font-size: 1rem;
  font-weight: 500;
}
.nav-menu__links > .nav-link {
  margin: 0 20px;
}
.nav-menu__links .nav-link {
  padding: 20px 5px;
  transition: all 0.2s ease-out;
  font-size: large;
  font-weight: 600;
}
.nav-menu__links .nav-link.active {
  color: #800080;
}
.nav-menu__links .nav-link:hover {
  color: rgb(238, 121, 4);
}

#cart-counter {
  display: inline-block;
  color: white;
  border-radius: 50%;
  background-color: red;
  width: 18px;
  height: 18px;
  line-height: 1.5;
  font-size: 12px;
  transform: translate(-21px, -15px);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-button {
  border: none;
  background-color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3e9f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #c5c5c6;
  z-index: 1;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: hsl(27deg, 64%, 54%);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(340deg, hsl(325deg, 31%, 56%) 25%, hsl(27deg, 64%, 54%) 75%);
  /*background*/
  background-attachment: fixed;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body header, body section, body footer {
  background-color: white;
}

main {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100vw;
  box-sizing: border-box;
}
main section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 60px;
}
main section h2 {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-style: italic;
  box-sizing: border-box;
  width: auto;
  color: white;
  text-align: center;
  background: linear-gradient(325deg, hsl(325deg, 31%, 56%) 25%, hsl(27deg, 64%, 54%) 75%);
  border-radius: 10px;
}

footer {
  width: 100vw;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer ul {
  display: flex;
}
footer ul li {
  padding: 0.5rem;
}/*# sourceMappingURL=style.css.map */