@mixin gradient($angle: 0deg, $colour1: $brand-second, $colour2: $brand-first) {
    background: linear-gradient($angle, $colour1 25%, $colour2 75%);
}

@mixin product-info__shadow($colour) {
    box-shadow: -15px 5px 30px -5px $colour;
}

@mixin nav-link-border($colour: transparent) {
    border-top: $nav-link-border($colour);
    border-bottom: $nav-link-border($colour);
}

@mixin active-link($colour: $darkerSecond) {
    color: $colour;
    border-top: $nav-link-border($colour);
}

@mixin hover-link($colour: $darkerFirst) {
    color: $colour;
    border-top: $nav-link-border($colour);
}

@mixin margin-side-auto {
    margin-left: auto;
    margin-right: auto;
}